.root {

}

.btnScroll {
   position: fixed;
   bottom: 20px;
   right: 20px;
   height: 50px;
   width: 50px;
   padding: 0;
   border-radius: 50%;
   box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease;
   transition-property: opacity, visibility;
}

.arrowIcon {
    transform: rotate(180deg);
}


.visible {
    visibility: visible;
    opacity: 1;
}